{% extends 'base.html' %}

{% block content %}
<div class="me-5 mb-5">
    <div class="fs-2 fw-bold">Новый вопрос</div>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <div class="mt-4">
            <label for="questionTitle" class="form-label fs-5">{{form.name.label}}</label>
            {{form.name}}
            <div class="invalid-feedback">Добавьте название вопроса</div>
        </div>
        <div class="mt-3">
            <label for="questionShortDesc" class="form-label fs-5">{{form.short_description.label}}</label>
            {{form.short_description}}
            {% if form.short_description.errors %}
                <div class="invalid-feedback">{{form.short_description.errors | first}}</div>
            {% else %}
                <div id="shortDescHelper" class="form-text helper">
                    Добавьте краткое описание проблемы, не более 300 символов
                </div>
            {% endif %}
        </div>
        <div class="mt-3">
            <label for="questionDesc" class="form-label fs-5">{{form.description.label}}</label>
            {{form.description}}
            <div id="DescHelper" class="form-text helper">
                Добавьте полное описание проблемы, отражающее всю её суть
            </div>
            <div class="invalid-feedback">
                Добавьте полное описание проблемы, отражающее всю её суть
            </div>
        </div>
        <div class="mt-4">
            <label for="tags" class="form-label fs-5">{{form.tags.label}}</label>
            {{form.tags}}
            <div id="DescHelper" class="form-text helper">
                Добавьте тэги через запятую, например 'moon, park, pizza'
            </div>
            <div class="invalid-feedback">
                Добавьте тэги через запятую, например 'moon, park, pizza'
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Создать вопрос
        </button>
    </form>
</div>
{% endblock %}