{% extends "base.html" %}
{% load filters %}

{% block content %}
	{% if isHot %}
		<h1 class="mt-3 mb-4">Популярные вопросы</h1>
	{% else %}
		<h1 class="mt-3 mb-4">Новые вопросы</h1>
	{% endif %}
	{% for question in context.questions %}
		{% include question|choice_format:True with question=question path=context.path only %} 
	{% endfor %}
{% endblock %}

{% block pagination %}
	{% if context.pagination.needPagination %}
		{% include 'pagination/pagination.html' with pagination=context.pagination path=context.path only %}
	{% endif %}
{% endblock %}