{% load static %}
<div>
    <a class="navbar-brand mb-0" href="/">
        <img src="{% static 'img/favicon.svg' %}" alt="" 
        class="title d-inline-block align-text-center" />
        AskPupkin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-label="Переключатель навигации"
        aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>