{% load static %}
<div class="card mt-3  border-success">
    <div class="card-header text-bg-success">Решение</div>
    <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. At atque hic enim
            laborum odio quidem earum blanditiis non aspernatur unde? Neque recusandae velit tempora sit
            dicta culpa magnam fugiat dolorum, impedit veritatis, hic distinctio amet et numquam fugit
            expedita? Ex atque enim eaque quibusdam voluptatem alias minus officia nobis hic!</p>
        <div class="d-block d-sm-inline-flex fw-light ">
            Ответ дан 1 день назад
            <a class="d-flex link-underline link-underline-opacity-0" href="#">
                <img class="mini-avatar ms-sm-2" src="{% static 'img/default_avatar.jpg' %}" />
                Cheburator221
            </a>
        </div>
        <div>
            <button type="button" class="btn btn-warning mt-2">Отменить</button>
        </div>
    </div>
</div>