.title{
    height: 5rem;
    width: 5rem;
}

.avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}

.mini-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
}

.answered-card {
    border-radius: 1rem;
    border-color:green;
    color:green;
}
