
<li class="page-item">
    <a class="page-link fs-5 {% if page.notEnablePrev %}disabled{% endif %}" 
    aria-label="Previous" href="{% url 'index' %}?page={{page.prev}}">
        <span aria-hidden="true">&laquo;</span>
    </a>
</li>
<li class="page-item"><a class="page-link fs-5" 
    {% if page.notEnableNext %} 
        href="{% url 'index' %}?page={{page.active}}"
    {% else %}
        href="#"
    {% endif %}> 
        {{page.active}}
</a></li>
<li class="page-item"><a class="page-link fs-5" href="{% url 'index' %}?page={{page.next}}">{{page.next}}</a></li>
<li class="page-item disabled"><a class="page-link fs-5" href="#">...</a></li>
<li class="page-item"><a class="page-link fs-5" href="{% url 'index' %}?page={{page.last}}">{{page.last}}</a></li>
<li class="page-item">
    <a class="page-link fs-5 {% if page.notEnableNext %}disabled{% endif %}" 
    href="{% url 'index' %}?page={{page.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a>
</li>