{% load static %}
<div>
    <div class="card mt-3" style="max-width: 50rem">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="card-body">
                        <h5 class="card-title">Как построить лунопарк?</h5>
                        <p class="card-text">Парни, у меня проблемы со строительством лунопарка. Я не могу найти
                            блэк-джэк и...
                        </p>
                    </div>
                </div>
                <div class="col-3 d-none d-lg-block align-self-center">
                    <div class="card-body">
                        <div class="fs-6 fw-normal">
                            0 ответов
                        </div>
                        <div class="fs-6">
                            1 просмотр
                        </div>
                        <div class="fw-light fs-6">
                            0 оценок
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 ms-1">
                <div>
                    <a href="#" class="btn btn-primary ">Перейти к вопросу</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3" style="max-width: 50rem">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="card-body">
                        <h5 class="card-title">Как построить лунопарк?</h5>
                        <p class="card-text">Парни, у меня проблемы со строительством лунопарка. Я не могу найти
                            блэк-джэк и...
                        </p>
                    </div>
                </div>
                <div class="col-3 d-none d-lg-block align-self-center">
                    <div class="card-body">
                        <div class="fs-6 fw-normal">
                            3 ответа
                        </div>
                        <div class="fs-6">
                            4 просмотра
                        </div>
                        <div class="fw-light fs-6">
                            1 оценка
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 ms-1">
                <div class="d-inline-flex">
                    <div>
                        <a href="#" class="btn btn-primary ">Перейти к вопросу</a>
                    </div>
                    <div class="badge bg-secondary align-self-end ms-1" style="height: 1.5rem;">
                        <div style="margin-top: 0.1rem;">
                            python
                        </div>
                    </div>
                    <div class="badge bg-secondary align-self-end ms-1" style="height: 1.5rem;">
                        <div style="margin-top: 0.1rem;">
                            C#
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3" style="max-width: 50rem">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="card-body">
                        <div class="d-inline-flex">
                            <img src="{% static 'img/answered.svg' %}" class="me-1" style="margin-top: 0.2rem;"
                                width="20rem" height="20rem" />
                            <h5 class="card-title">Как построить лунопарк?</h5>
                        </div>
                        <p class="card-text">Парни, у меня проблемы со строительством лунопарка. Я не могу найти
                            блэк-джэк и...
                        </p>
                    </div>
                </div>
                <div class="col-3 d-none d-lg-block align-self-center">
                    <div class="card-body">
                        <div class="badge bg-success fs-6 fw-normal">
                            10 ответов
                        </div>
                        <div class="fs-6">
                            15 просмотров
                        </div>
                        <div class="fw-light fs-6">
                            5 оценок
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 ms-1">
                <div>
                    <a href="#" class="btn btn-primary ">Перейти к вопросу</a>
                </div>
            </div>
        </div>
    </div>
</div>