<div>
    <div class="d-none d-lg-block">
        <ul class="pagination mt-3">
            <li class="page-item">
                <a class="page-link fs-5" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link fs-5" href="#">1</a></li>
            <li class="page-item"><a class="page-link fs-5" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link fs-5" href="#">...</a></li>
            <li class="page-item"><a class="page-link fs-5" href="#">53</a></li>
            <li class="page-item">
                <a class="page-link fs-5" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-lg-none">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item">
                <a class="page-link fs-5" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            <li class="page-item"><a class="page-link fs-5" href="#">1</a></li>
            <li class="page-item"><a class="page-link fs-5" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link fs-5" href="#">...</a></li>
            <li class="page-item"><a class="page-link fs-5" href="#">53</a></li>
            <li class="page-item">
                <a class="page-link fs-5" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>  