{% extends "base.html" %}

{% block content %}
	<div>
		<div class="container-fluid mb-5">
			{% include 'components/question.html' %}
			<div class="row me-3 mt-3">
				<div class="d-flex flex-column">
					<div class="fs-2">
						Ответы
					</div>
					<form class="mt-3">
						<label for="answerTextId" class="form-label">Ваш ответ</label>
						<textarea class="form-control" id="answerTextId" rows="5"></textarea>
						<button type="submit" class="btn btn-primary mt-2">Ответить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagination %}
	{% include 'components/pagination/pagination.html' %}
{% endblock %}