{% load static %}
{% load filters %}
<div>
    {% if context.user.is_authenticated %}
        <ul class="navbar-nav d-lg-none ms-auto mt-sm-1 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'settings' context.user.id %}">Настройки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li>
        </ul>
        <div class="d-none d-lg-inline-flex ms-auto">
            <a href="{% url 'settings' 0 %}">
                <img src="{% static context.user|get_avatar %}" alt=""
                    class="ms-3 d-inline-block align-text-center" 
                    height="60rem" width="60rem" style="border-radius: 25rem;"/>
            </a>
            <div class="container d-none d-xl-block mt-2">
                <div class="row fs-normal">
                    <div>{{context.user.username}}</div>
                </div>
                <div class="row">
                    <div class="col fs-light">
                        <a class="link-underline link-underline-opacity-0" href="{% url 'settings' context.user.id %}">
                            Настройки
                        </a>
                    </div>
                    <div class="col fs-light me-5 ps-0">
                        <a class="link-underline link-underline-opacity-0" href="{% url 'logout' %}">
                            Выйти
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ms-auto">
            <ul class="navbar-nav d-lg-none ms-auto mt-sm-1 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Войти</a>
                </li>
            </ul>
            <div class="container d-none d-lg-block d-xl-none mt-2 text-end">
                <div class="col fs-light">
                    <a class="link-underline link-underline-opacity-0" href="">
                        Зарегистрироваться
                    </a>
                </div>
                <div class="col fs-light ps-0">
                    <a class="link-underline link-underline-opacity-0" href="">
                        Войти
                    </a>
                </div>
            </div>
            <div class="container d-none d-xl-inline-flex mt-2">
                <div class="col fs-light">
                    <a class="link-underline link-underline-opacity-0" href="{% url 'registration' %}">
                        Зарегистрироваться
                    </a>
                </div>
                <div class="col fs-light ms-2 me-5 pe-2 ps-0">
                    <a class="link-underline link-underline-opacity-0" href="/auth/login">
                        Войти
                    </a>
                </div>
            </div>
        </div>
    {% endif %}    
</div>