<div class="mt-4">
    <div class="d-none d-xl-flex flex-column">
        <div class="fs-3 fw-bold">
            Самые активные
        </div>
        <div class="fs-4 text-primary link-underline link-underline-opacity-0">
            VasyaPupkin007
        </div>
        <div  class="fs-4 text-primary link-underline link-underline-opacity-0">
            TerminatorKek
        </div>
        <div  class="fs-4 text-primary link-underline link-underline-opacity-0">
            Chapolino
        </div>
        <div  class="fs-4 text-primary link-underline link-underline-opacity-0">
            Checburechik112
        </div>
        <div  class="fs-4 text-primary link-underline link-underline-opacity-0">
            Krestic!
        </div>
    </div>

    <div class="d-flex d-xl-none flex-column text-end">
        <div class="fs-4 fw-bold">
            Самые активные
        </div>
        <div  class="fs-5 text-primary link-underline link-underline-opacity-0">
            VasyaPupkin007
        </div>
        <div  class="fs-5 text-primary link-underline link-underline-opacity-0">
            TerminatorKek
        </div>
        <div  class="fs-5 text-primary link-underline link-underline-opacity-0">
            Chapolino
        </div>
        <div  class="fs-5 text-primary link-underline link-underline-opacity-0">
            Checburechik112
        </div>
        <div  class="fs-5 text-primary link-underline link-underline-opacity-0">
            Krestic!
        </div>
    </div>
</div>