<div class="me-5 mb-5">
    <div class="fs-2 fw-bold">Авторизация</div>
    <form class="needs-validation" novalidate>
        <div class="mt-4">
            <label for="login" class="form-label fs-5">Email</label>
            <input type="email" class="form-control" id="login" style="max-width: 25rem;" required />
            <div class="invalid-feedback">Введите электронную почту аккаунта</div>
        </div>
        <div class="mt-4">
            <label for="password" class="form-label fs-5">Пароль</label>
            <input type="password" class="form-control" id="password" style="max-width: 25rem;" required />
            <div class="invalid-feedback">Введите пароль</div>
            <div class="invalid-feedback">Ошибка авторизации</div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Войти
        </button>
    </form>
</div>