{% load static %}
{% load filters %}
<div class="{% if isTitle is not True %}card mb-4 me-sm-5{% endif %}">
    <div class="card-body me-sm-3">
        <div class="row">
            <div class="col-1 d-none d-sm-flex flex-column text-center justify-content-center align-items-center">
                <svg role="button" aria-hidden="true" style="fill: darkgrey;" onmouseover="this.style.fill='grey';"
                    width="36" onmouseleave="this.style.fill='darkgrey';" onclick="this.style.fill='green';" height="36"
                    viewBox="0 0 36 36">
                    <path d="M2 25h32L18 9 2 25Z"></path>
                </svg>
                <div class="fs-3">
                    {{question.rating}}
                </div>
                <svg role="button" aria-hidden="true" width="36" height="36" style="fill: darkgrey;"
                    onmouseover="this.style.fill='grey';" width="36" onmouseleave="this.style.fill='darkgrey';"
                    onclick="this.style.fill='darkred';" viewBox="0 0 36 36">
                    <path d="M2 11h32L18 27 2 11Z"></path>
                </svg>
            </div>
            <div class="col-sm-11 col-12">
                {% if isTitle %}
                    <div class="fs-2 fw-bold">
                        {{question.title}}
                    </div>
                {% else %}
                    <a role="button" class="lh-sm fs-3 fw-semibold link-underline link-underline-opacity-0"
                    href="{% url 'question' question.pk %}">
                        {{question.title}}
                    </a>
                {% endif %}
                {% if isTitle %}
                    <div class="mb-2 fs-4">
                        {{question.content}}
                    </div>
                {% else %}
                    <div class="fs-5">
                        {{question.description}}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-sm-11">
                    {% include 'cards\cardinfo.html' with object=question tags=question.tags.all hideLikes=True isQuestion=True only %}
                </div>
            </div>
        </div>
    </div>
</div>